/* User.css */

.user-container {
    margin-top: 20px;
  }
  
  .form-container {
    width: 400px;
    margin: 0 auto;
  }
  
  .form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  .link-to-books {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #007bff;
  }
  
  .link-to-books:hover {
    text-decoration: underline;
  }
  